<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">How to Overwatch</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Offense <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'genji.svg', class: 'hero' %>
                Genji
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'mccree.svg', class: 'hero' %>
                McCree
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'pharah.svg', class: 'hero' %>
                Pharah
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'reaper.svg', class: 'hero' %>
                Reaper
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'soldier.svg', class: 'hero' %>
                Soldier 76
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'sombra.svg', class: 'hero' %>
                Sombra
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'tracer.svg', class: 'hero' %>
                Tracer
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Defense <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'bastion.svg', class: 'hero' %>
                Bastion
              </a>
            </li>
            <li>
              <% link_to 'hanzo.html' do %>
                <%= image_tag 'hanzo.svg', class: 'hero' %>
                Hanzo
              <% end %>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'junkrat.svg', class: 'hero' %>
                Junkrat
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'mei.svg', class: 'hero' %>
                Mei
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'torbjorn.svg', class: 'hero' %>
                Torbjorn
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'widowmaker.svg', class: 'hero' %>
                Widowmaker
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tank <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <% link_to 'dva.html' do %>
                <%= image_tag 'dva.svg', class: 'hero' %>
                D.Va
              <% end %>

            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'reinhardt.svg', class: 'hero' %>
                Reinhardt
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'roadhog.svg', class: 'hero' %>
                Roadhog
              </a>
            </li>
            <li>
              <% link_to 'zarya.html' do %>
                <%= image_tag 'zarya.svg', class: 'hero' %>
                Zarya
              <% end %>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <% link_to 'ana.html' do %>
                <%= image_tag 'ana.svg', class: 'hero' %>
                Ana
              <% end %>
            </li>
            <li>
              <% link_to 'lucio.html' do %>
                <%= image_tag 'lucio.svg', class: 'hero' %>
                Lucio
              <% end %>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'mercy.svg', class: 'hero' %>
                Mercy
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'symmetra.svg', class: 'hero' %>
                Symmetra
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                <%= image_tag 'zenyatta.svg', class: 'hero' %>
                Zenyatta
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maps <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class='disabled'>
              <a href="#">
                Temple of Anubis
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Hanamura
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Volskaya Industries
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Watchpoint: Gibraltar
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Dorado
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Route 66
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Lijang Tower
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Ilios
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Nepal
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                King's Row
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Numbani
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Hollywood
              </a>
            </li>
            <li class='disabled'>
              <a href="#">
                Eichenwalde
              </a>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to 'Общие советы', 'common.html' %>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
