---
title: Ana guides and links
---

<ul>
  <li>
    <a href="https://www.reddit.com/r/OverwatchUniversity/comments/5ewxxr/xpost_roverwatch_useful_ana_nades/">Полезные точки для метания гранаты</a>
  </li>
</ul>
