---
title: D.Va guides and links
---

<ul>
  <li>
    <a href="https://www.reddit.com/r/OverwatchUniversity/comments/5dz9tt/d_va_guide_patch_111516/">
      Полноценный гайд по D.Va (20.11.2016)
    </a>
  </li>
</ul>
