---
title: How to Overwatch
---

<p>
  На третий сезон ПОВРЫВАТЦА в компетитив нам нужен хил/дпс. Сейчас у нас есть Торовар (Заря мейн, ?? дополнительные), Лау (саппорты мейн, джанк и мей дополнительные) и Фрей (джанк и мей мейны, рейн+свин дополнительные).
</p>
<p>
  Таким образом, не хватает второго хила, мы хотим начать сезон в четыре лица
</p>
<p>
  Пишите, кто что хочет и может, если стесняетесь, в личку можно
</p>

Требования:

<ul>
  <li>Антипригарное покрытие на заднице</li>
  <li>Активная коммуникация голосом во время матча (строго по делу, без флейма)</li>
  <li>Часовой пояс между москвой (+3) и барнаулом (+7), стандартный сбор в 20-21 час по москве</li>
</ul>
