---
title: Zarya guides and links
---

<ul>
  <li>
    <a href="https://www.reddit.com/r/OverwatchUniversity/comments/5ep6fk/an_advanced_masters_guide_to_zarya/">
      Гайд по Заре для продвинутых (25.11.2016)
    </a>
  </li>
</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/65F_nEGfVH0" frameborder="0" allowfullscreen></iframe>
